@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bs-body-font-family: 'Montserrat', sans-serif !important;
}

.logo-img {
  width: 50px;
  height: 50px;
}

.darkened-image {
  filter: brightness(1);
}
